body {
    margin: 0;
    padding: 0;
    border: 0;
}

html {
    background-image: url(../img/gif_math.gif);
    background-repeat: repeat;
    
}

.gif img {
    position: relative;
    right: -400px;
}

.container {
    position: relative;
    right: -160px;
}

.kelvin {
    font-weight: bold;
}

.fahrenheit {
    font-weight: bold;
}